.cobweb-assistant {
    border : 1px solid black;
}

.cobweb-assistant .title {
    font-size: 150%;
}

.error {
    background-color: red;
}

.narrower-group {
    padding-left: 2em;
    border: 1px solid white;
}

.info {
    margin-left: 1em;
}

div.info {
    border: 1px solid grey;
}

.parents .parent {
    padding-left: 1em;
}

.requirements {

}

.requirements .requirement {
    padding-left: 1em;
}

.requirement-body {
    margin-left: 1em;
    border: 1px solid grey;
    background-color: lightgrey;
}

.requirement-body .collection-bits {
    //margin-left: 1em;
    height: 10em;
    overflow-y: scroll;
    margin: 0 0 0 0;
}

.requirement button {
    margin-left: 1em;
}

.inheritance {
    padding-left: 0.5em;
}
